<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd  
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">  
<bean id="bean1" class="com.yanxml.spring.train.bean.common.setter.bean.Bean1" > 
	<property name="bean2" ref="bean2"></property>
	<property name="bean3" ref="bean3"></property>
	<property name="bean4" ref="bean4"></property>
</bean> 
<bean id="bean2" class="com.yanxml.spring.train.bean.common.setter.bean.Bean2">
	<property name="id" value="2"></property>
	<property name="name" value="bean2:name"></property>
	<property name="password" value="bean2:pwd"></property>
</bean>
<bean id="bean3" class="com.yanxml.spring.train.bean.common.setter.bean.Bean3">
	<property name="id" value="3"></property>
	<property name="name" value="bean3:name"></property>
</bean>
<bean id="bean4" class="com.yanxml.spring.train.bean.common.setter.bean.Bean4">
	<property name="age" value="4"></property>
</bean>              
</beans>