<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" default-lazy-init="true"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd  
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">  
	<bean id="mysqlDao" class="com.yanxml.spring.train.ioc.theory.dao.impl.UserDao4MysqlImpl"></bean>
	<bean id="oracleDao" class="com.yanxml.spring.train.ioc.theory.dao.impl.UserDao4OracleImpl"></bean>
	<bean id="userService" class="com.yanxml.spring.train.ioc.theory.service.impl.UserServiceImpl">
		<property name="userDao" ref="mysqlDao"></property>
		<!-- <property name="userDao" ref="oracleDao"></property> -->
	</bean>
</beans>