<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd  
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

<!-- 使用Spring XML配置的方式 进行加载
开启注解解析器 -->
<!-- <tx:annotation-driven transaction-manager="txManager"/> -->

<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<!-- 指定数据源 -->
	<property name="dataSource" ref="dataSource"></property>
</bean>

<aop:config>
	<aop:pointcut  id="transactionPointcut" expression="execution( * com.us.demo.impl..*.*(..))"/>
	<aop:advisor advice-ref="txAdvice" pointcut-ref="transactionPointcut"/>
</aop:config>

<tx:advice id="txAdvice" transaction-manager="txManager">
	<tx:attributes>
		<!-- 如果连接的方法是以Get开头的方法，则不使用事务。 -->
		<tx:method name="get*" read-only="true" propagation="NOT_SUPPORTED"/>
		<tx:method name="*"/>
	</tx:attributes>
</tx:advice>

<bean id="userDao" class="com.us.demo.dao.impl.UserDaoImpl">
	<property name="dataSource" ref="dataSource"></property>
</bean>
</beans>